
{% include 'campaignsapp/header.html.twig' %}

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <h4>Related</h4>
            <ul>
                <li><a href="../add-campaign">Add a new campaign</a></li>
            </ul>
        </div>
        <div class="col-sm-10 mainContent">

            {% if totalcampaigns == 0 %}
                <div class="alert alert-danger" role="danger">
                    <span>There are no campaigns in the system. Click <a href="../add-campaign">here </a> to get started! </span>
                </div>

            {% endif%}

           {% if (newbuild != true ) and (totalcampaigns > 0) %}
            <h2>Show All Campaigns</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Season</th>
                    <th>Owner</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody>

                {% for campaign in campaigns %}
                    <tr>
                        <td>{{ campaign.campaignid }}</td>
                        <td>{{ campaign.campaignname }}</td>
                        <td>{{ campaign.campaigndescription}}</td>
                        <td>{{ campaign.campaignstartdate}}</td>
                        <td>{{ campaign.campaignenddate}}</td>
                        <td>{{ campaign.seasonname }}</td>
                        <td>{{ campaign.staffmembername}}</td>
                        <td><a href="edit-event/{{ campaign.campaignid }}">Edit</a></td>
                    </tr>
                {% endfor %}


                </tbody>
            </table>
            {% endif%}
        </div>
        <div class="col-sm-0">
        </div>

    </div>
</div>
{% include 'campaignsapp/footer.html.twig' %}